<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- 打印INFO级别以上日志到控制台 -->
	<appender name="LOG.Console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyy-MM-dd HH:mm:ss}] [%-5p] %c {%F:%L} - %m%n" />
		</layout>
	</appender>

	<!-- 输出DEBUG级别日志 -->
	<appender name="LOG.DEBUG" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="logs/debug/debug.log" />
		<param name="DatePattern" value="'.'yyyyMMdd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyy-MM-dd HH:mm:ss}] [%-5p] %c {%F:%L} - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="DEBUG" />
		</filter>
	</appender>

	<!-- 输出INFO级别日志 -->
	<appender name="LOG.INFO" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="logs/info/info.log" />
		<param name="DatePattern" value="'.'yyyyMMdd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyy-MM-dd HH:mm:ss}] [%-5p] %c {%F:%L} - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="INFO" />
			<param name="LevelMax" value="INFO" />
		</filter>
	</appender>

	<!-- 输出WARN级别以上日志 -->
	<appender name="LOG.WARN" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="logs/warn/warn.log" />
		<param name="DatePattern" value="'.'yyyyMMdd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyy-MM-dd HH:mm:ss}] [%-5p] %c {%F:%L} - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="WARN" />
			<param name="LevelMax" value="WARN" />
		</filter>
	</appender>
	
	<appender name="LOG.ERROR" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="logs/error/error.log" />
		<param name="DatePattern" value="'.'yyyyMMdd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyy-MM-dd HH:mm:ss}] [%-5p] %c {%F:%L} - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR" />
			<param name="LevelMax" value="FATAL" />
		</filter>
	</appender>

	<!-- 实时营销特定业务日志 -->
	<appender name="LOG.MarketServiceLog" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Append" value="true" />
		<param name="File" value="logs/busi/busi.log" />
		<param name="DatePattern" value="'.'yyyyMMdd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
		<filter class="com.logs.MarketLogFilter">
			<param name="levelMin" value="BUSI" />
			<param name="levelMax" value="BUSI" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>
	
	<appender name="LOG.JOB" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Append" value="true" />
		<param name="File" value="logs/job/TF_SM_CHNL_JOB" />
		<param name="DatePattern" value="'.'yyyyMMddHHmm" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
		<filter class="com.logs.MarketLogFilter">
			<param name="levelMin" value="JOB" />
			<param name="levelMax" value="JOB" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>
	
	<appender name="LOG.PRODUCT" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Append" value="true" />
		<param name="File" value="logs/job/TF_SM_CHNL_PRODUCT" />
		<param name="DatePattern" value="'.'yyyyMMddHHmm" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
		<filter class="com.logs.MarketLogFilter">
			<param name="levelMin" value="PRODUCT" />
			<param name="levelMax" value="PRODUCT" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>
	
	<logger name="com.errout">
		<level value="debug" />
		<appender-ref ref="LOG.DEBUG" />
	</logger>

	<root>
		<priority value="INFO" />

		<appender-ref ref="LOG.Console" />
		<appender-ref ref="LOG.DEBUG" />
		<appender-ref ref="LOG.INFO" />
		<appender-ref ref="LOG.WARN" />
		<appender-ref ref="LOG.ERROR" />
		<appender-ref ref="LOG.MarketServiceLog" />
<!--		<appender-ref ref="LOG.JOB" />
		<appender-ref ref="LOG.PRODUCT" />-->
	</root>
</log4j:configuration>
